*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 签名文件 - 绝对不要提交到版本控制
*.keystore
*.jks
*.pkcs12
*.p12

# 临时文件
.claudeignore
.kotlin
.trae
CLAUDE.md
app/release/
local.properties.template
log.txt

